@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

* body {
  background: #000;
}

* nav {
  background: transparent;
  top: 0;
  position: -webkit-sticky !important;
  position: sticky !important;
}

* nav .container-fluid {
  padding: 0 40px;
}

* nav .container-fluid a.navbar-brand {
  font-size: 29px;
}

* nav .container-fluid ul li {
  color: #fff;
}

* nav .container-fluid .nav-item .btn-login {
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%) !important;
}

* nav .container-fluid .nav-item .btn-login a {
  color: #fff;
  text-decoration: none;
}

* main {
  color: #1a1a1a;
}

* main section#home .container-fluid.banner1 p {
  font-size: 15px;
}

* main section#home .container-fluid.banner1 button.banner {
  background: linear-gradient(99.99deg, #b936f5 -21.45%, #c64c85 100%, #f1005b 100%);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

* main section#home .container-fluid.banner1 button.explore {
  cursor: pointer;
  font-size: 16px;
}

* main section#home .container-fluid.banner1 button.banner:hover {
  color: #000;
}

* main section#home .container-fluid.banner1 button.explore:hover {
  color: #b936f5;
}

* main section#home .container-fluid.banner2 p {
  font-size: 15px;
}

* main section#home .container-fluid.banner2 button.banner {
  background: linear-gradient(99.99deg, #b936f5 -21.45%, #c64c85 100%, #f1005b 100%);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

* main section#home .container-fluid.banner2 button.banner:hover {
  color: #000;
}

* main section#company {
  padding-top: 50px;
}

* main section#company .animasi {
  cursor: pointer;
}

* main section#company .animasi img:hover {
  padding: 50px;
  -webkit-transition: 2s;
  transition: 2s;
}

* main section#todolist button.add {
  background: linear-gradient(99.99deg, #b936f5 -21.45%, #c64c85 100%, #f1005b 100%);
  color: #fff;
}

* main section#todolist button.add:hover {
  color: #000;
}

* main section#todolist #tasks {
  margin: 10px 0;
}

* main section#todolist button.delete {
  background: linear-gradient(99.99deg, #b936f5 -21.45%, #c64c85 100%, #f1005b 100%);
  color: #fff;
}

* footer#social {
  padding: 100px 0 100px 0;
}

* footer#social .ig,
* footer#social .fb,
* footer#social .wa {
  font-size: 50px;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  padding: 15px 0 0 0;
  margin: 20px 30px;
}

* footer#social .ig :hover {
  color: red;
}

* footer#social .fb :hover {
  color: red;
}

* footer#social .wa :hover {
  color: red;
}

* footer.fix {
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  padding: 10px;
}

@media only screen and (max-width: 576px) {
  footer#social {
    padding: 100px 30px;
  }
  footer#social .ig,
  footer#social .fb,
  footer#social .wa {
    font-size: 40px;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    padding: 15px 0 0 0;
    margin: 20px 10px;
  }
}
